##########################################
# Start with global configuration

# Name of this experiment
Example 1

# Port at which the server should listnen. 
6677

# Number of locations used in this experiment
2

# Number of gateways used per location
1

# Number of streams used to connect gateways 
1

##########################################
# Name of the first location
location1

# Number of application processes
1

# Start of the TCP port range
12000

# Network device to use for the TCP streams on the gateways
192.168.0.0/24

##########################################
# Name of second location
location2

# Number of application processes.
2

# Start of port range.
14000

# Network device to use for the TCP streams on the gateways
192.168.0.0/24



