####
#
# This configuration file defines several variables 
# used in Makefiles and script of eSalsa-MPI.
#
# Although this is an example configuration, it often works 
# out of the box on Ubuntu based linux distributions. 
#
# Other examples can be found in the 'config' directory.

####
#
# These fields set the C, Fortran and MPI compilers.
#
# CC the C compiler to use (e.g., gcc or icc)
# FC the Fortran compiler to use (e.g., gfortran or ifort)
# MPICC the MPI compile script to use (e.g., mpicc)
# OPT the compiler optimization options to use when compiling eSalsaMPI

CC=gcc
FC=gfortran
MPICC=mpicc
OPT=-O3

####
# 
# These fields set the location of MPI includes and libs.
#
# MPI_HOME contains the location of your MPI installation, for example
#   '/usr/lib/openmpi' or '/opt/apps/intel13/impi'. 
# MPI_INCLUDE contains the location of the MPI include files, for example
#   '$MPI_HOME/include'
# MPI_LIBS contains the location of the MPI libraries, for example
#   '$MPI_HOME/lib'
# MPI_LIB contains the name of the MPI library (without the "lib" prefix).

MPI_HOME=/usr/lib/openmpi 
MPI_INCLUDE=$MPI_HOME/include
MPI_LIBS=$MPI_HOME/lib
MPI_LIB=mpi

####
#
# These fields set the location of UDT includes and libs.
# 
# DISABLED FOR NOW
#
#UDT_HOME=
#UDT_INCLUDE=$UDT_HOME/src
#UDT_LIBS=$UDT_HOME/src
#UDT_LIB=udt

####
#
# These fields set a few basic utilities and should be OK as they are.
#
AR=ar
RM=rm

