####
#
# This configuration file defines several variables 
# used in Makefiles and script of eSalsa-MPI.
#
# CC the C compiler to use (e.g., gcc or icc)
# FC the Fortran compiler to use (e.g., gfortran or ifort)
# MPICC the MPI compiles cript to use (e.g., mpicc)
# OPT the compiler optimization options to use when compiling eSalsaMPI

CC=gcc
FC=gfortran
MPICC=mpicc
OPT=-O3

# The following options should be OK.
AR=ar
RM=rm

