################################################################
# This is an example eSalsa MPI experiment configuration file. #
################################################################

##########################################
# We start with the global configuration.

# Name of this experiment
Test experiment

# Port at which the server should listnen. 
6677

# Number of cluster used in this experiment
3

# Number of gateways used per cluster
1

# Number of streams used to connect gateways 
2

##########################################
# Next, we configure each of the clusters.

# Name of this cluster
cluster1

# Application processes in this cluster 
8

# Base port for the gateway port range used by this cluster
12000

# Next cluster
cluster2
16
14000

# Next cluster
cluster3
4
15000







